.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon{
  font-size: 5rem;
}

.Input-form{
  display: flex;
  flex-direction: column;
  width: 22rem;
  padding-left: 2rem;
}
.Input-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  margin-top: 0.5rem;
}
.Label{
 color:beige;
 font-size: 1rem;
 
}
.Input-elem{
  color: #61dafb;
  width: 20rem;
  height: 2rem;
  margin-top: 0.3rem;
  display: flex;
  align-content: center;
}
.input-txt{
  width: inherit;
  border: 1px solid #ccc!important;
  border-radius: 16px;
  padding-left: 0.8rem;  
  padding-right: 0.8rem;
  font-size: 1rem;
  font-family: sans-serif;
}

.Button{
  background: #4A70ED;
  color: white;
}
.Error{
  color: red;
  font-size: 0.8rem;
}
.Timer{
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
